.border-0 {
  border: 0;
}

.bold {
  font-weight: 700 !important;
}

.fs-0 {
  font-size: 0;
}

.d-flex {
  align-items: center;
  justify-content: space-between;
}

.justify-content-normal {
  justify-content: normal !important;
}

.align-items-normal {
  align-items: normal !important;
}

.ta-center {
  text-align: center;
}

.color-secondary {
  color: theme-color("secondary") !important;
}

.color-light {
  color: theme-color("light") !important;
}

.color-dark {
  color: theme-color("dark") !important;
}

.br-50-percent {
  border-radius: 50%;
}

.lh-19 {
  line-height: 19px;
}

body {
  color: theme-color("dark");
  font: 16px/1.5 'Roboto', sans-serif;

  border-color: theme-color("gray");
  border-radius: 1rem;
}

a:hover {
  text-decoration: none;

  background-color: theme-color();
}

a:hover .color-dark {
  color: theme-color("light") !important;
}

a:hover .color-secondary {
  color: theme-color("gray") !important;
}

main {
  display: none;
}

.avatar {
  @include avatar(50px);
}

.after-fixed {
  margin-bottom: 75px;
}

@media (min-width: 768px) {
  .height-md-100vh {
    height: 100vh;
  }

  .small-md {
    font-size: 12.8px !important;
  }

  .d-md-flex {
    align-items: center;
    justify-content: space-between;
  }

  .tab-pane {
    @include hide-scrollbar();
    max-height: calc(100vh - 4.5rem - 75px);
  }

  .after-fixed {
    margin-bottom: 0;
  }
}
