header {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  background-color: theme-color();
}

.logo {
  width: 13px;
}

.nav-img {
  width: 25px;
}

@media (min-width: 768px) {
  header {
    position: sticky;

    border-top-left-radius: 16px;
  }
}
