header {
  position: sticky;
  bottom: 0;
  left: 0;

  order: 1;
  width: 100%;

  background-color: theme-color();
}

.logo {
  width: 13px;
}

.nav-img {
  width: 25px;
}

@media (min-width: 768px) {
  header {
    order: 0;
  }
}
