doctype html
html(lang="ru" class="h-100")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title="Мессенджер «Hexlet Chat». Андрей Мищенко"
    link(rel="stylesheet" href="style.css")
    script(src="../node_modules/jquery/dist/jquery.min.js")
    script(src="../node_modules/popper.js/dist/umd/popper.js")
    script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
  body(class="h-100")
    block content