div(class="d-flex justify-content-normal p-3 position-sticky cg-4 cg-md-2 cg-lg-4")
  img(src="images/avatar_4.jpg" alt="Вениамин Редакторович" class="avatar")
  div(class="d-flex flex-column align-items-normal")
    div(class="bold color-dark") Вениамин Редакторович
    div(class="small lh-19 color-secondary") Онлайн