a(href="" class="d-flex justify-content-normal pt-3 px-3 pb-3 cg-4 shadow-sm")
  img(src=contact.avatar alt=contact.name class="avatar")
  div(class="d-flex flex-column align-items-normal")
    div(class="bold color-dark") 
      = contact.name
    div(class="small lh-19 color-secondary") 
      = contact.status