header(class="pt-1 prl-1-5 pb-1")
  nav(class="flex")
    a(href="")
      svg
        use(xlink:href="images/sprite.svg#logo")
    ul(class="list-unstyled flex cg-40 cg-32-xxl")
      li
        a(href="" class="flex cg-8 color-light fs-0 small-xxl")
          svg
            use(xlink:href="images/sprite.svg#people")
          | Контакты
      li
        a(href="" class="flex cg-8 color-light fs-0 small-xxl")
          svg
            use(xlink:href="images/sprite.svg#chat")
          | Сообщения
      li
        a(href="" class="flex cg-8 color-light fs-0 small-xxl")
          svg
            use(xlink:href="images/sprite.svg#person")
          | Профиль