div(class="container h-100")
  div(class="row no-gutters pt-md-4 pb-md-4 h-100")
    aside(class="d-flex flex-column align-items-normal flex-grow-1 col-md-7 col-lg-6 col-xl-4 h-100 overflow-hidden mx-n4 mx-md-0")
      include header.pug
      div(class="d-flex flex-column align-items-normal tab-content px-4 h-100")
        section(class="tab-pane fade show active pt-7 h-100" id="contacts" role="tabpanel" aria-labelledby="contacts-tab")
          include contacts.pug
        section(class="tab-pane fade pt-7 h-100" id="chats" role="tabpanel" aria-labelledby="chats-tab")
          include chats.pug
        section(class="tab-pane fade pt-7 h-100" id="profile" role="tabpanel" aria-labelledby="profile-tab")
          include profile.pug
        if page == "chat"
          div(class="tab-pane fade pt-7 h-100 flex-column" id="chat" role="tabpanel" aria-labelledby="chat-tab")
            div(class="d-flex flex-column justify-content-normal align-items-normal h-100 overflow-hidden mt-n7 mt-md-0 d-md-none")
              include messages.pug
    if page == "index"
      main(class="col-md d-md-flex flex-column justify-content-center h-100 overflow-hidden")
        include greeting.pug
    else 
      main(class="col-md d-md-flex flex-column justify-content-normal align-items-normal h-100 overflow-hidden")
        include messages.pug